
.Encabezado{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 100px;
}

.Titulo {
    margin: 10px 10px 10px 30px;
    text-decoration: none;  
        animation-name: expample;
        animation-duration: 4s;
       
}

/*no funca*/
    @keyframes example {
        50%     {left:100px; top:0px;}
        100%    {left:200px; top:0px;}
}

.Titulo:hover {
    color: red;
    cursor: pointer;
    
}

Nav {
    display: flex;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

.NavLink {
    display: flex;
    margin: 10px; 
    padding: 5px;
    text-decoration: none;
    font-size: 1.5em; 
    color:black;
}

.NavLink:hover {
    background-color: green;
    padding: 10px;
    text-decoration: line-through;
    text-transform: uppercase;
  }

/*CartWidget*/
  .Icon{
    display: flex;
    margin: 10px; 
    padding: 5px;
    text-decoration: none;
    font-size: 1.5em;  
    
}

.Icon:hover {
    background-color: yellow;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }



