
.Encabezado{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 100px;
}

h1 {
    margin: 10px 10px 10px 30px;
        animation-name: expample;
        animation-duration: 4s;
}

/*no funca*/
    @keyframes example {
        50%     {left:100px; top:0px;}
        100%    {left:200px; top:0px;}
}

h1:hover {
    color: red;
    cursor: pointer;
    
}

Nav {
    display: flex;
    margin: 10px;
    padding: 5px;
}

a {
    display: flex;
    margin: 10px; 
    padding: 5px;
    text-decoration: none;
    font-size: 1.5em; 
}

a:hover {
    background-color: yellow;
    padding: 10px;
    text-decoration: line-through;
    text-transform: uppercase;
  }

  .Icon{
    display: flex;
    margin: 10px; 
    padding: 5px;
    text-decoration: none;
    font-size: 1.5em;  /*cambiar tamaño de Icon*/
    
}

.Icon:hover {
    background-color: yellow;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }